*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 25vh;
    background-color: cyan;
}
.nav{
    width: 100vw;
    height: 15vh;
    background-color: lightblue;
}
.main{
    width: 100vw;
    height: 50vh;
    background-color: white;
}
.main .article{
    width: 25vw;
    height: 40vh;
    display: block;
}
.main .article .figure{
    background-color: aqua;
}
.main .article .titulo{
    background-color:dimgray
}
.main .article .texto{
    background-color: lightslategray;
}
.footer{
    width: 100vw;
    height: 10vh;
    background-color: gray;
}