*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav{
    width: 100vw;
    height: 12vh;
    background-color: #777777;
}
.header{
    width: 100vw;
    height: 27vh;
    background-color: #8df2f9;
    display: flex;
    flex-direction: row;
}
.header .formulario{
    width: 8vw;
    height: 20vh;
    margin: 1.5%;
    margin-left: 10%;
}
.header .formulario .headerInF{
    width: 100%;
    height: 15%;
    background-color: #484848;
}
.header .formulario .mainInF{
    width: 100%;
    height: 85%;
    background-color: #FFFFFF;
}
.header .formulario .mainInF .p{
    background-color: #FFFFFF;
}
.header .formulario .mainInF .p2{
    background-color: #8df2f9;
}
.main{
    width: 100vw;
    height: 53vh;
    background-color: #FFFFFF;
}
.main .div{
    display: flex;
    flex-direction: row;    
}
.articulo{
    margin: 20vw;
}
.main .article{
    width: 33vw;
    height: 50vh;
    display: block;
    margin: 20%;
}
.main .article .figure{
    background-color: aqua;
}
.main .article .titulo{
    background-color:dimgray
}
.main .article .texto{
    background-color: lightslategray;
}
.footer{
    width: 100vw;
    height: 8vh;
    background-color: #313131;
    display: flex;
}
.footer .p1{
    background-color: #707070;
    width: 30%;
    height: 20%;
    height: 20%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 20%;
    margin-left: 10%;
}
.footer .p2{
    background-color: #707070;
    width: 10%;
    height: 20%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-right: 2%;
}