*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100vw;
    height: 25vh;
    background-color: cyan;
}
.nav{
    width: 100vw;
    height: 12vh;
    background-color: lightblue;
}
.main{
    width: 100vw;
    height: 53vh;
    background-color: white;
}
.main .div{
    display: flex;
}
.articulo{
    margin: 20vw;
}
.main .article{
    width: 30%;
    height: 40%;
    display: block;
    margin: 20%;
}
.main .article .figure{
    background-color: aqua;
}
.main .article .titulo{
    background-color:dimgray
}
.main .article .texto{
    background-color: lightslategray;
}
.footer{
    width: 100vw;
    height: 10vh;
    background-color: gray;
}